.svn
.metadata
RemoteSystemsTempFiles
Servers
jeecms
target
classes
WEB-INF/classes/
bin
lib
*.bat
*.dat
*.class
*/org.eclipse.wst.common.component
SeekServer
integration-activiti
integration-cache
integration-jms
integration-original
integration-webservice