<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-3.1.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd" default-autowire="byName">
	
	<!-- 注解配置  -->
	<context:component-scan base-package="org.platform">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>  
	</context:component-scan>
	
	<!-- 数据库加载文件配置 -->
	<context:property-placeholder location="classpath:jdbc/jdbc.properties" ignore-unresolvable="true"/>
	
	<!-- 数据源配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driverClassName}"></property> 
		<property name="url" value="${url}"></property> 
		<property name="username" value="${username}"></property> 
		<property name="password" value="${password}"></property> 
	</bean> 
	
	<!-- 事务配置 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />  
	</bean>

    <!--  
    <bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    -->
    <bean id="schedulerFactory" class="org.platform.modules.scheduler.factory.SchedulerFactoryExtBean">
    	<property name="autoStartup" value="false"/>  
    	<property name="startupDelay" value="10"/>  
		<property name="dataSource" ref="dataSource"/>  
    	<property name="transactionManager" ref="transactionManager"/>
    	<property name="configLocation" value="classpath:quartz/quartz.properties" />  
        <!-- 通过applicationContextSchedulerContextKey属性配置spring上下文 -->    
        <property name="applicationContextSchedulerContextKey" value="applicationContext"/>    
        <!-- spring 管理的service需要放到这里，才能够注入成功 -->    
        <property name="schedulerContextAsMap">    
            <map>    
                <description>schedulerContextAsMap</description>    
                <entry key="schedulerBusiness" value-ref="schedulerBusiness"/>  
            </map>    
        </property>  
        <property name="triggers">              
        	<list>                  
        		<ref bean="tempTaskCronTrigger" />
        	</list>          
        </property>      
    </bean>         
    
    <bean id="tempTaskCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">          
    	<property name="jobDetail" ref="tempTaskJobDetail"/>          
    	<property name="cronExpression" value="0/15 * * * * ?"/>      
    </bean>        
    
    <bean id="tempTaskJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">  
		<property name="name" value="temp" />       
		<property name="group" value="default" />       
        <property name="jobClass" value="org.platform.modules.scheduler.task.TempTask" />  
        <property name="durability" value="true" />     
        <property name="requestsRecovery" value="true" />       
        <property name="jobDataMap">
        	<map>
        		<entry key="timeout" value = "10" />
        		<entry key="keyword" value = "hello" />
        	</map>
        </property>
    </bean>  
	  
</beans>